html, body, #root {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3 {
  font-weight: 300
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #155050;
}

.table-name {
  font-weight: bolder;
}

.table-list md-list {
  margin-left: 3%;
  margin-right: 3%;
}